.width-container {
  width: 700px;
}

.slide-width {
  width: 400px;
}

.box {
  background-color: whitesmoke;
  border-radius: 5px;
}

.selector {
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap; /* current browsers */
}
